DATABASE_URL="URL_to_the_database_for_Prisma"
JWTSECRET='Random_Letters'
JWT_EXPIRATION='5m'
ACCESS_SECRET='Random_Letters'
REFRESH_SECRET='Random_Letters'
ACCESS_TOKEN_EXPIRATION="10m"
REFRESH_TOKEN_EXPIRATION="7d"
CLIENTID='The_ClientId_from_42'
CLIENTSECRET='The_ClientSecret_from_42'
CALLLBACKURL='callbackurl'
FRONTEND_URL='the_url_of_the_frontend'
AUTH_APP_NAME='NameOfTheApp'