/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	  width: 100vw;
  }
  
  body {
	  background-color: #fff;
	  display: flex;
	  height: 100vh;
	  width: 100vw;
  
	  justify-content: center;
	  align-content: center;
	  margin: 0;
	  overflow: hidden
  }
  
  #footer {
	height: 40px; 
	  position: fixed; 
	  bottom:0%;
	  width:100%;
  }
  
  #header {
	position: sticky;
	height: 10vh;
	top: 0;
  }