/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
#app {
  font-family: 'Segoe UI', sans-serif, 'Avenir', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; /* This line needs to be removed*/
  color: #2c3e50;
  background-color: black;
  height: 100%;
  width: 100%;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}
body {
  background-color: #fff;
  margin: 0;
  font-size: 15px; /* This line needs to be ADDED*/
  padding-bottom: 50px;
  overflow: auto;
}
.component-title {
	font-family: space;
	color: #B7D198;
  font-size: 35px;
  margin-bottom: 20px;
}
.component-subtitle {
	font-family: space;
	color: #725A92;
  font-size: 30px;
  margin-bottom: 20px;
}
.details {
	color: white;
	font-family: Helvetica;
  font-size: 25px;
}

main {
  overflow-y: auto;
  max-height: calc(100vh - 10vh - 5vh); /* header and footer height */
  height: 100vh;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}

#footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

#header {
  position: sticky;
  height: 7vh;
  top: 0;
}
.avatar {
	height: 120px;
	object-fit: cover;
}

button {
	font-size: 20px;
	border-radius: 12px;
	transition-duration: 0.4s;
	padding: 10px 10px;
	color: #bc4f4c;
	background-color: transparent;
	box-shadow: 5px 2px;
	font-family: Helvetica;
	margin-top: 10px;
	margin-bottom: 15px;
}

.file-upload-form {
	text-align: center;
	font-size: 20px;
}

.column {
	border: 1px white solid;
	padding: 20px;
	box-shadow: 10px 10px;
	transition: transform .2s;
}

.column:hover {
	transform: scale(1.1);
}

.column-container {
	display: flex;
	justify-content: space-evenly;
 	 max-width: 1500px;
 	 margin: 0 auto;
	 margin-top: 20px;
}
